    <formvh:render persistenceIdentifier="EXT:t3_sitepackage_onemorephoto/Resources/Private/Forms/Contact.form.yaml"
        overrideConfiguration="{
        renderables: {
            1: {
                renderables: {
                    0: {
                        defaultValue: '{data.playerId}'
                    },
                    1: {
                        defaultValue: '{data.recordStoragePid}'
                    },
                    8: {
                        properties: {
                            saveToFileMount: '{data.imageStorage}'
                        }
                    }
                }
            }
        }
    }" />